[Desktop Entry]
Type=Application
Version=1.5
Name=VGP
GenericName=Vector Graphics Protocol Session
Comment=GPU-accelerated vector display server session
Exec=vgp
DesktopNames=VGP
Keywords=wm;window manager;compositor;session;
