[Desktop Entry]
Type=Application
Version=1.5
Name=VGP Bar
GenericName=Status Bar
Comment=Standalone scriptable HUD status bar
Exec=vgp-bar
Icon=vgp-bar
Terminal=false
StartupNotify=false
NoDisplay=true
Categories=System;
Keywords=status;bar;hud;indicator;
