[Desktop Entry]
Type=Application
Version=1.5
Name=VGP Terminal
GenericName=Terminal Emulator
Comment=Vector-rendered terminal emulator
Exec=vgp-term
Icon=vgp-term
Terminal=false
StartupNotify=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
