[Desktop Entry]
Type=Application
Version=1.5
Name=VGP Files
GenericName=File Manager
Comment=Vector-rendered file manager
Exec=vgp-files %U
Icon=vgp-files
Terminal=false
StartupNotify=false
Categories=System;FileManager;
MimeType=inode/directory;
Keywords=file;manager;explorer;directory;folder;
