[Desktop Entry]
Type=Application
Version=1.5
Name=VGP Launcher
GenericName=Application Launcher
Comment=Fuzzy-search application launcher
Exec=vgp-launcher
Icon=vgp-launcher
Terminal=false
StartupNotify=false
NoDisplay=true
Categories=System;
Keywords=run;execute;launch;start;
