[Desktop Entry]
Type=Application
Version=1.5
Name=VGP Settings
GenericName=Settings
Comment=Configure the VGP desktop
Exec=vgp-settings
Icon=vgp-settings
Terminal=false
StartupNotify=false
Categories=Settings;DesktopSettings;
Keywords=preferences;configuration;options;setup;tweak;
